body{
    margin: 0%;
}
.iconbar{
    background-color:black;
    color: aliceblue;
    width: 60%;
    height:3% ;
    padding:30px ;
    overflow: auto;
    border: 1px red;
    margin-top: -1%;
}
.iconbar a {
    font-size: 40px;
    padding:20px ;
    width: 20px;
    height: 30px;
    text-align: center;
}
.iconbar a:hover{
    background-color: rgb(157, 249, 252);
    width:30px ;
}